<form method="post" action="/sessions/log_in">
<input type="text" name='username' id='username' placeholder='Username'>
<input type="text" name='password' id='password' placeholder='password'>
<input type='submit'>
</form>