<form method="post" action"/inventory/add">
<input type="text" name="title" id="title" placeholder="Ingredient Name">
<input type="text" name="description" id="description" placeholder="Description">
<input type="number" name="quantity" id="quantity" value="0">
<input type="submit">
</form>