<!doctype html>
<html>
    <head>
        <title>KitchenTory</title>
    </head>
    <body>

            <% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
            <% if logged_in? %>
            <p>Hello <%=current_user.first_name %></p>
            <a href='/sessions/logout'>Log Out</a>
            <a href='/sessions/home'>Home</a>
          <% else %>
            <a href="/sessions/log_in"> Log In </a>
            <a href="/users/sign_up">Sign Up</a>
          <%end %>

        <%= yield %>
    </body>
</html>